$lightPink:pink;
.notification-item{
  background-color: $lightPink;
    border-radius: 0px;    
}

.notification-message{
    font-size: 13px;
    font-family: cursive;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 900;
}